@use './variables' as var;
@use './global';

.about__section {
  width: 100%;
  background: #fff5f6;
}

.about__heading {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.about__header {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.about__buttondiv {
  display: flex;
  justify-content: center;
}

.paragraph {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  z-index: 2;
}

.paragraph2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  z-index: 2;
}

.about__button {
  width: 176px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #d41443;
  border: 0;
  cursor: pointer;
}

.about__background {
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .about {
    &__section {
      padding: 125px 0 39px 0;
    }
    &__heading {
      font-size: 18px;
      line-height: 21px;
      min-width: 198px;
    }
    &__header {
      font-size: 34px;
      line-height: 39px;
      min-width: 200px;
      margin: 0 auto;
    }
    &__picture {
      min-width: 280px;
      width: 100%;
      margin: 26px 0px 46px 0px;
    }
    &__paragraph,
    &__paragraph2 {
      font-size: 12px;
      line-height: 19px;
      width: 100%;
      min-width: 220px;
    }
    &__paragraph {
      color: #000000;
      margin-bottom: 28px;
    }
    &__paragraph2 {
      color: #907e82;
      margin-bottom: 12px;
    }
    &__button {
      margin-top: 17px;
      font-size: 14px;
      line-height: 18px;
    }
    &__container2 {
      padding: 0 20px;
      position: relative;
    }
    &__background {
      position: absolute;
      bottom: 0;
    }
    &__container--paragraph {
      padding: 0 50px;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    &__heading {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 16px;
    }
    &__header {
      font-size: 48px;
      line-height: 55px;
      margin-bottom: 50px;
    }
    &__picture {
      min-width: 340px;
      width: 100%;
    }
    &__section {
      padding: 130px 0 70px 0;
    }
    &__container {
      display: flex;
      position: relative;
      gap: 17px;
      justify-content: center;
    }
    &__background {
      position: absolute;
      visibility: hidden;
    }

    &__paragraph {
      color: #000000;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 28px;
    }
    &__paragraph2 {
      color: #907e82;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 12px;
    }

    &__container--paragraph {
      position: relative;
    }
    &__buttondiv {
      position: absolute;
    }
    &__container--paragraph {
      padding: 50px 36px 0 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    &__section {
      padding: 125px 0 39px 0;
    }
    &__heading {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 16px;
    }
    &__header {
      font-size: 58px;
      line-height: 66px;
      margin-bottom: 55px;
    }
    &__container--paragraph {
      padding: 51px 36px 0 0;
    }
    &__container2 {
      position: relative;
    }
    &__background {
      position: absolute;
    }
    &__background {
      visibility: visible;
    }
    &__container {
      padding: 0 117px 0 112px;
      gap: 75px;
    }
    &__picture {
      min-width: 516px;
      width: 100%;
    }
    &__button {
      &:hover {
        background: #ecebeb;
      }
    }
  }
}
