@use './variables' as var;
@use './global';

.buy-now-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
  visibility: visible;
  z-index: 999;
}

.buy-now-backdrop__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 23px;
  background: linear-gradient(
    90deg,
    rgba(255, 184, 202, 1) 19%,
    rgba(240, 209, 165, 0.9467320375415791) 56%,
    rgba(194, 226, 151, 1) 100%
  );
  width: 320px;
  height: 510px;
  @include var.flexBox(none, center, center);

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 650px;
  }
}

.buy-now-backdrop__box {
  width: 320px;
  height: 490px;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 650px;
  }
}

.close-button {
  transition: background-color 250ms;
  position: relative;
  left: 290px;
  width: 22px;
  height: 22px;
  top: 0px;
  @include var.flexBox(row, center, center);
  background: transparent;
  border-radius: 50%;
  border: 1px;
  cursor: pointer;
  pointer-events: visible;
  stroke: #d41443;

  @media screen and (min-width: 768px) {
    left: 410px;
    top: 7px;
    width: 30px;
    height: 30px;
  }

  svg {
    @media screen and (min-width: 768px) {
      width: 11px;
      height: 11px;
    }
  }

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: #ffffff59;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-form {
  position: relative;
  width: 320px;
  height: 560px;
  padding: 5px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 650px;
    padding: 10px 40px 40px 40px;
  }
  &__area {
    border-radius: 8px;
  }
  &__select-area {
    border-radius: 4px;
  }
  &__heading {
    font-family: var.$brand-font-family;
    @include var.fontStyle(18px, 14px, 0.06em, 400, normal);
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #d41443;
    @include var.flexBox(row, center, center);

    @media screen and (min-width: 768px) {
      font-size: 28px;
      padding-top: 0px;
      margin-bottom: 15px;
      line-height: 23px;
    }
  }

  &__text {
    font-family: var.$brand-font-family;
    @include var.fontStyle(12px, 120%, 0.04em, 400, normal);
    text-transform: uppercase;
    color: #d41443;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 23px;
    }
  }

  &__text-min {
    font-family: var.$brand-font-family;
    @include var.fontStyle(10px, 120%, 0.04em, 400, normal);
    text-transform: uppercase;
    color: #d41443;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 25px;
    }
  }

  &__area {
    padding: 5px;
    background: #ffffff96;

    @media screen and (min-width: 768px) {
      padding: 10px;
    }
  }

  &__label {
    padding-left: 5px;
    padding-right: 5px;

    &:focus-within .order-form__text {
      color: #e71b4e;
    }
  }

  &__input {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    font-family: var.$main-font-family;
    @include var.fontStyle(10px, 23px, 0.04em, 400, normal);
    border: none;
    border-radius: 4px;

    &:focus {
      border: 1px solid #f0d1a5;
      transform: scale(101%);
    }

    @media screen and (min-width: 768px) {
      height: 24px;
      margin-bottom: 5px;
    }
  }

  &__flavour select {
    background-color: #ffffff;
    border: 1px dotted #f0d1a5;
    width: 90px;
    height: 20px;

    @media screen and (min-width: 768px) {
      height: 24px;
      width: 120px;
    }
  }

  &__amount select {
    width: 55px;
    height: 20px;
    background-color: #ffffff;
    border: 1px dotted #f0d1a5;

    @media screen and (min-width: 768px) {
      height: 24px;
    }
  }

  &__label-comment {
    text-align: center;
    padding: 20px 2px 0px 2px;

    &:focus-within .order-form__text {
      color: #e71b4e;
    }
  }

  &__comment-input {
    background-color: #ffffff;
    border: 1px dotted #f0d1a5;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    font-family: var.$main-font-family;
    @include var.fontStyle(10px, 120%, 0.04em, 400, normal);
    resize: none;
    outline: none;
    margin-top: 5px;
    height: 75px;
    border-radius: 8px;

    &:focus {
      transform: scale(101%);
      border: 1px solid #f0d1a5;
    }

    @media screen and (min-width: 768px) {
      height: 85px;
      line-height: 23px;
    }
  }

  & select,
  & option {
    font-family: var.$main-font-family;
    @include var.fontStyle(10px, 23px, 0.04em, 400, normal);

    &:hover,
    &:focus {
      transform: scale(110%);
      border: 1px solid #f0d1a5;
    }
  }

  &__order {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__products {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 66px;
    @media screen and (min-width: 768px) {
      gap: 44px;
    }
  }

  &__flavour {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 120px;
    @media screen and (min-width: 768px) {
      gap: 0px;
    }
  }

  &__amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 80px;
    @media screen and (min-width: 768px) {
      gap: 0px;
    }
  }
}

textarea::placeholder {
  font-family: var.$main-font-family;
  @include var.fontStyle(10px, 23px, 0.04em, 400, normal);
}

.order-button {
  margin-top: 6px;
  width: 100%;
  transition: background 250ms;
  @include var.flexBox(row, center, center);

  &__container {
    width: 82px;
    height: 30px;
    background: transparent;
    border: 1px dotted #f0d1a5;
    border-radius: 8px;
    transition: background-color 250ms;

    &:hover,
    &:focus {
      transition: background 250ms;
      background: #ffffff59;
    }

    @media screen and (min-width: 768px) {
      width: 100px;
      height: 42px;
    }
  }

  &__text {
    font-family: var.$brand-font-family;
    @include var.fontStyle(16px, 23px, 0.04em, 400, normal);
    text-transform: uppercase;
    color: #d41443;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 23px;
    }
  }
}
