@use './variables' as var;
@use './global';

.section__footer {
    background-color: #FFF5F6;
}
.footer {
    &__container {
    @extend .container;
    }
    &__position {
        display: flex;
        flex-direction: column;
        gap: 43px;
    }
    &__logo {
        display: flex;
        flex-direction: column;
        gap: 17px;
        padding-left: 22px;
    }
    &__logo--style {
      font-family: var.$brand-font-family;
      font-size: 18px;
      font-weight: 400;
      color: #FFA5BA;
      width: 232px;
      line-height: 21px;
    }
    &__logo--strong-style {
      font-family: var.$brand-font-family;
      font-size: 34px;
      font-weight: 400;
      color: #D41443;
      width: 200px;
      line-height: 39px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 46px;
    }
    &__social-media{
      display: flex;
      justify-content: flex-end;
      gap: 28.24px;
      padding-right: 20.5px;
    }
    &__social-media--box {
      width: 32px;
      height: 32px;
      fill: #fff;
      border-radius: 50%;
      background-color: #FEA5BB;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__social-media--icon {
      width: 18.82px;
      height: 18.82px;
    }
    &__contact {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
    }
    &__contact--style {
      font-family: var.$main-font-family;
      font-weight: 700;
      font-size: 13px;
      text-align: left;
      text-decoration: none;
    }
    &__contact--phone-style {
      color: #D41443;
      text-decoration: none;
    }
    &__rights {
      display: flex;
      flex-direction: column;
      margin: 65px 0 0 0;
      padding-top: 22px;
      padding-bottom: 25px;
      border-top: 1px solid #E1E1E1;
    }
    &__rights--style {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      color:#907E82;
      line-height: 152%;
    }
  }

.footer__social-media--box:hover,
.foter__social-media--box:focus {
    background-color: #D41443;
}

@media screen and (min-width: 768px) {
    .footer {
        &__position {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 5px;
        }
        &__logo--style {
        font-size: 26px;
        width: 340px;
        line-height: 30px;
        }
        &__logo--strong-style {
        font-size: 48px;
        width: 340px;
        line-height: 55px;
        }
        &__social-media{
        gap: 36px;
        }
        &__rights {
        margin: 91px 0 0 0;
        padding: 29px 0 18px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        }
    }
}
@media screen and (min-width: 1280px) {
    .footer {
        &__logo--style {
        font-size: 30px;
        width: 472px;
        line-height: 34px;
        }
        &__logo--strong-style {
        font-size: 58px;
        width: 474px;
        line-height: 66px;
        }
        &__contact {
        gap: 50px;
        }
    }
}
