@use './variables' as var;
@use './global';

iframe {
  padding-top: 10px;
  border-radius: 20px;
  max-height: 400px;
  max-width: 400px;

  &:last-of-type {
    padding-bottom: 10px;
  }
}

.our-locations-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.1);
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transform: translateX(0) translateY(0) scale(1);
  opacity: 1;
  visibility: visible;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: color 500ms;
  transition: transform 500ms;

  &:hover,
  &:focus {
    color: rgb(239, 164, 177);
    transform: rotate(180deg);
    transform: scale(1.5);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.our-locations-backdrop__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 480px;
  height: 80%;
  overflow-y: auto;
  background-color: #fff5f6;
  border-radius: 20px;

  & p {
    font-family: 'Titan One', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: white;
    -webkit-text-stroke: 2px red;
    
    &:last-of-type {
      padding-bottom: 10px;
    }
  }
}
