@use './variables' as var;
@use './global';

.products {
  @include var.flexBox($direction: null, $justify: center, $align: null, $wrap: null, $gap: null);
  padding: 121px 0 98px 0;
  background-color: #fff;

  @media screen and (min-width: 768px) {
    padding: 122px 0 112px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 127px 0 119px 0;
  }

  &__container {
    @extend .container;
    @include var.flexBox(
      $direction: column,
      $justify: center,
      $align: null,
      $wrap: null,
      $gap: null
    );
    padding: 0 20px;
  }
  &__heading-main {
    @include var.fontStyle(
      $size: 34px,
      $height: 39px,
      $spacing: 0.04em,
      $weight: 400,
      $style: normal
    );
    font-family: var.$brand-font-family;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
    margin-bottom: 144px;
  }
  &__heading-secondary {
    @include var.fontStyle(
      $size: 18px,
      $height: 21px,
      $spacing: null,
      $weight: 400,
      $style: normal
    );
    font-family: var.$brand-font-family;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 15px;
  }
  &__list {
    @include var.flexBox($direction: row, $justify: center, $align: null, $wrap: wrap, $gap: 130px);
  }
  &__item {
    width: 100%;
    max-width: 440px;
    border-radius: 24px;
    padding: 161px 41px 41px 39px;
    flex-basis: 100%;
    @include var.flexBox(
      $direction: column,
      $justify: null,
      $align: center,
      $wrap: null,
      $gap: null
    );
    &--ice-cream {
      @extend .products__item;
      background-color: #ffb8ca;
    }
    &--coffee {
      @extend .products__item;
      background-color: #f0d1a5;
    }
    &--milkshake {
      @extend .products__item;
      background-color: #c2e297;
    }
  }
  &__heading {
    @include var.fontStyle(
      $size: 20px,
      $height: 23px,
      $spacing: 0.04em,
      $weight: 400,
      $style: normal
    );
    font-family: var.$brand-font-family;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    margin-bottom: 66px;
    &::after {
      content: '';
      background-image: url('../images/3dots.png');
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      width: 26px;
      height: 6px;
      left: calc(50% - 13px);
      bottom: -35px;
    }
    &--image {
      content: '';
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      bottom: calc(100% + 22px);
      left: calc(50% - 124.5px);
      width: 249px;
      height: 252px;
    }
    &--ice-cream::before {
      @extend .products__heading--image;
      background-image: url('../images/ice-cream.png');
    }
    &--coffee::before {
      @extend .products__heading--image;
      background-image: url('../images/ice-coffee.png');
    }
    &--milkshake::before {
      @extend .products__heading--image;
      background-image: url('../images/milkshake.png');
    }
  }
  &__description {
    @include var.fontStyle(
      $size: 14px,
      $height: 21px,
      $spacing: 0.04em,
      $weight: 700,
      $style: normal
    );
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .products {
    &__heading-main {
      @include var.fontStyle(
        $size: 48px,
        $height: 55px,
        $spacing: null,
        $weight: null,
        $style: null
      );
      margin-bottom: 150px;
    }
    &__heading-secondary {
      @include var.fontStyle(
        $size: 26px,
        $height: 30px,
        $spacing: null,
        $weight: null,
        $style: null
      );
    }
    &__list {
      gap: 20px;
      @include var.flexBox(
        $direction: null,
        $justify: center,
        $align: null,
        $wrap: null,
        $gap: null
      );
    }
    &__item {
      padding: 152px 20px 40px 20px;
      flex-basis: calc((100% - 20px * 2) / 3);
    }
    &__heading {
      &--image {
        bottom: calc(100% + 30px);
        left: calc(50% - 107px);
        width: 220px;
        height: 226px;
      }
    }
    &__description {
      @include var.fontStyle(
        $size: 14px,
        $height: 25px,
        $spacing: null,
        $weight: null,
        $style: null
      );
    }
  }
}

@media screen and (min-width: 1280px) {
  .products {
    &__heading-main {
      @include var.fontStyle(
        $size: 58px,
        $height: 66px,
        $spacing: 0.06em,
        $weight: null,
        $style: null
      );
      margin-bottom: 259px;
    }
    &__heading-secondary {
      @include var.fontStyle(
        $size: 30px,
        $height: 34px,
        $spacing: 0.04em,
        $weight: null,
        $style: null
      );
    }
    &__list {
      @include var.flexBox($direction: null, $justify: null, $align: null, $wrap: null, $gap: 30px);
    }
    &__item {
      max-width: 330px;
      padding: 163px 44px 50px 44px;
      flex-basis: calc((100% - 30px * 2) / 3);
    }
    &__heading {
      @include var.fontStyle(
        $size: 30px,
        $height: 34px,
        $spacing: 0.04em,
        $weight: null,
        $style: null
      );
      &::after {
        bottom: -38px;
      }
      margin-bottom: 70px;
      &--image {
        bottom: calc(100% + 38px);
        left: calc(50% - 167.5px);
        width: 335px;
        height: 335px;
      }
    }
    &__description {
      @include var.fontStyle(
        $size: 16px,
        $height: 28px,
        $spacing: null,
        $weight: null,
        $style: null
      );
    }
  }
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    &__heading {
      &::after {
        background-image: url('../images/3dotsx2.png');
      }
      &--ice-cream::before {
        background-image: url('../images/ice-creamx2.png');
      }
      &--coffee::before {
        background-image: url('../images/ice-coffee.png');
      }
      &--milkshake::before {
        background-image: url('../images/milkshakex2.png');
      }
    }
  }
}
