@use './variables' as var;
@use './global';


.reviews{
    width: 100%;
    padding: 0 20px;
    @media (min-width: 768px){
        padding: 0 74px;
    }
    @media (min-width: 1200px){
        padding: 0 177px;
    }

    &__image{
    margin-bottom: 29px;
    }
    &__image-customer{ 
        width: 85px;
        height:85px;
        object-fit: contain;
        border-radius: 50%;
        margin: 0 auto;
    }
    &__label{
        position: relative;
        width: 100%;
        height: auto;
        background-color: #FAFAFA;
    }
    &__label::before{
        position: absolute;
        content: url("../images/quote.png"); 
        width: 54px;
        height: 40px;
        margin-left: 61px;
        margin-top: 28px;
        @media (min-width:768px){
            margin-left: 40px;
            margin-top: 30px;
        }
        @media (min-width:1200px){
            margin-left: 50px;
            margin-top: 32px
        }
    }
    &__label-text{
        @include var.fontStyle(
            $size: 12px,
            $height: 30.6px,
            $spacing: 0.04em,
            $weight: 500,
            $style: normal
        );
        position: relative;
        text-align: center;
        padding: 43px 66px 26px 57px;

        @media (min-width: 768px){
            font-size: 14px;
        }
        @media (min-width: 1200px){
            font-size: 16px;
        }
    }
    &__customer{
        position: relative;
        text-align: center;
        margin-top: 30px;
    }
    &__customer::before{
        content: url(../images/dots.png);
    }
    &__customer::after{
        position: absolute;
        content: url(../images/icons.svg#icon-home);
        fill: #D31342;
        width: 12.4px;
        height: 11.84px;
    }
    &__customer-name{
        padding-top: 18px;
        padding-bottom: 30px;
    }
    }
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
        .reviews{
            &__label::before{
                content: url(../images/quote@2x.png);
            }
            &__customer::before{
                content: url(../images/dots@2x.png);
            }
        }
    }