@use './variables' as var;
@use './global';

.reviews {
  &__container {
    @extend .container;
    max-width: 480px;
    padding: 0 20px;
    @media (min-width: 768px) {
      padding: 0 74px;
      max-width: 1280px;
    }
    @media (min-width: 1280px) {
      padding: 0 176px 0 178px;
    }
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-of-type(2) {
      display: none;
    }
    &:nth-of-type(3) {
      display: none;
    }
  }
  &__avatar {
    width: 85px;
    height: 85px;
    margin-bottom: 29px;
  }
  &__label {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fafafa;
  }
  &__label::before {
    position: absolute;
    content: url('../images/quote.png');
    width: 54px;
    height: 40px;
    left: 61px;
    top: 28px;
    @media (min-width: 768px) {
      left: 40px;
      top: 30px;
    }
    @media (min-width: 1280px) {
      left: 50px;
      top: 32px;
    }
  }
  &__label-area {
    padding: 43px 50px 26px 50px;
  }
  &__label-text {
    @include var.fontStyle(
      $size: 12px,
      $height: 31px,
      $spacing: 0.04em,
      $weight: 500,
      $style: normal
    );
    padding: 0 16px 0 7px;
    position: relative;
    text-align: center;
    background: repeating-linear-gradient(transparent 0px 30px, #e1e1e1 0 31px) transparent;
    @media (min-width: 768px) {
      @include var.fontStyle(
        $size: 14px,
        $height: 30px,
        $spacing: null,
        $weight: null,
        $style: normal
      );
      padding: 0 44px 0 20px;
      background: repeating-linear-gradient(transparent 0px 29px, #e1e1e1 0 30px);
    }
    @media (min-width: 1280px) {
      @include var.fontStyle(
        $size: 16px,
        $height: null,
        $spacing: null,
        $weight: null,
        $style: null
      );
      padding: 0 35px 0 28px;
    }
  }
  &__location {
    text-align: center;
    margin-top: 15px;
  }
  &__location::before {
    content: '';
    background-image: url(../images/dots.png);
    background-size: 100%;
    width: 32px;
    height: 4px;
    display: block;
    margin: 0 auto;
  }
  &__location-text {
    @include var.fontStyle($size: 14px, $height: 26px, $spacing: null, $weight: null, $style: null);
    padding: 18px 0 30px 0;
    color: #000000;
    @media (min-width: 768px) {
      @include var.fontStyle(
        $size: 16px,
        $height: 30px,
        $spacing: null,
        $weight: null,
        $style: normal
      );
    }
    @media (min-width: 1280px) {
      @include var.fontStyle(
        $size: 20px,
        $height: 37px,
        $spacing: null,
        $weight: null,
        $style: normal
      );
    }
  }
  &__button-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 18px;
  }
  &__button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background: transparent;
  }
  &__button-icon {
    width: 12px;
    height: 12px;
    fill: #d9d9d9;
    transition: fill 250ms;
    &--current {
      width: 12.4px;
      height: 11.84px;
      fill: #d31342;
    }
    &:hover {
      fill: #d31342;
      transition: fill 250ms;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews {
    &__label::before {
      content: '';
      background-image: url(../images/quote@2x.png);
      background-size: 100%;
      width: 54px;
      height: 40px;
    }
    &__location::before {
      content: '';
      background-image: url(../images/dots@2x.png);
      background-size: 100%;
      width: 32px;
      height: 4px;
    }
  }
}
