// here you can add sections fe. &__about
.section {
  &__products {
    padding: 121px 0 98px 0;
    background-color: #fff;
  }

  &__about {
    padding: 125px 0 39px 0;
    background: #fff5f6;
    background-image: url(../images/about-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 768px;
  }

  &__advantages {
    background-color: #fff5f6;
    padding: 0 0 97px 0;
  }

  &__gallery {
    background-image: linear-gradient(#fff5f6 39.7%, #ffffff 39.7%, #ffffff 60.3%);
  }
}

@media screen and (min-width: 768px) {
  .section {
    &__products {
      padding: 122px 0 112px 0;
    }

    &__advantages {
      padding: 0 0 140px 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .section {
    &__products {
      padding: 127px 0 119px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .section__about {
    padding: 130px 0 70px 0;
    background-image: none;
  }
}
@media screen and (min-width: 1280px) {
  .section__about {
    padding: 125px 0 39px 0;
    background-image: url(../images/about-backgroundx2.png);
    background-position: center 342px;
  }
}
