<section class="section__about" id="about">
  <div class="about__container">
    <p class="about__heading-secondary">tradition and love</p>
    <h2 class="about__heading-main">how it’s made?</h2>
    <div class="about__content-container">
      <img
        class="about__image"
        src="./images/bio-eco-cow.png"
        srcset="./images/bio-eco-cowx2.png"
        alt="bio eco cow"
      />
      <article class="about__article">
        <p class="about__article-heading">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__article-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__article-text">&nbsp;</p>
        <p class="about__article-text">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="button--primary about__button">
          Read more
          <svg class="button__icon-stroke--end" width="8" height="10">
            <use href="./images/icons.svg#icon-greater-than"></use>
          </svg>
        </button>
      </article>
    </div>
  </div>
</section>
