<section class="about__section">
  <div class="container">
    <p class="about__heading">tradition and love</p>
    <h2 class="about__header">how it’s made?</h2>
    <div class="about__container">
      <div class="about__container2">
        <img
          class="about__picture"
          src="./images/bio-eco-cow.png"
          srcset="./images/bio-eco-cowx2.png"
          alt="bio eco cow"
        />
      </div>
      <div class="about__container--paragraph">
        <p class="about__paragraph">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__paragraph2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__paragraph2">Aliquam erat volutpat. Aenean accumsan.</p>
      </div>
      <img
        class="about__background"
        src="./images/about-background.png"
        srcset="./images/about-backgroundx2.png"
        alt="about background"
      />
    </div>
    <div class="about__buttondiv">
      <button class="about__button">Read more</button>
    </div>
  </div>
</section>
