<header class="header">
  <div class="header__container">
    <div class="header__top-container">
      <!-- Logo -->
      <a class="header__logo-link" href="./index.html">
        <img class="header__logo-image" src="./images/logo.png" alt="Logo firmy Ice-cream" />
      </a>
      <!-- Main navigation -->
      <nav class="navigation">
        <div class="navigation__container">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link--active" href="./index.html">Home</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#about">About us</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#about">How it&#96;s made?</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#products">Our products</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Mobile menu button -->
      <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="menu-toggle__icon-open" width="20" height="12">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <!-- Buy-now button -->
      <button class="button--primary header__button" type="button">
        Buy now
        <svg class="button__icon-stroke--end" width="8" height="10">
          <use href="./images/icons.svg#icon-greater-than"></use>
        </svg>
      </button>
    </div>
    <div class="header__title-container">
      <!-- Title -->
      <h1 class="header__title">
        ice cream made with <span class="header__title--accent">passion</span>
      </h1>
      <!-- Navigation buttons -->
      <a class="link" href="#products">
        <button class="button--secondary" type="button">Products</button>
      </a>
      <a class="link" href="#about">
        <button class="button--tertiary" type="button">How it&#96;s made?</button>
      </a>
    </div>
    <!-- Counter -->
    <div class="header__counter-container">
      <div class="header__counter">
        <p class="header__counter-number">16</p>
        <p class="header__counter-text">cafes</p>
        <svg class="header__counter-icon">
          <use href="./images/icons.svg#icon-dot"></use>
        </svg>
      </div>
      <div class="header__counter">
        <p class="header__counter-number">23</p>
        <p class="header__counter-text">food trucks</p>
        <svg class="header__counter-icon">
          <use href="./images/icons.svg#icon-dot"></use>
        </svg>
      </div>
    </div>
    <!-- Header article -->
    <article class="header__article">
      <p class="header__article-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="button--round" type="button">
        <svg class="button__icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </article>
  </div>
</header>
