<div class="menu-container js-menu-container" id="mobile-menu">
  <!-- Close button -->
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon-close" width="14" height="14">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <!-- Buy-now button -->
  <button class="button--primary" type="button">
    Buy now
    <svg class="button__icon-stroke--end" width="8" height="10">
      <use href="./images/icons.svg#icon-greater-than"></use>
    </svg>
  </button>
  <!-- Mobile navigation -->
  <nav class="mobile-navigation">
    <div class="mobile-navigation__container">
      <ul class="mobile-navigation__list">
        <li class="mobile-navigation__item">
          <a class="mobile-navigation__link--active" href="./index.html">Home</a>
        </li>
        <li class="mobile-navigation__item">
          <a class="mobile-navigation__link" href="#about">About us</a>
        </li>
        <li class="mobile-navigation__item">
          <a class="mobile-navigation__link" href="#about">How it&#96;s made?</a>
        </li>
        <li class="mobile-navigation__item">
          <a class="mobile-navigation__link" href="#products">Our products</a>
        </li>
        <li class="mobile-navigation__item">
          <a class="mobile-navigation__link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
