<div class="our-locations-backdrop is-hidden" data-our-locations-modal>
  <div class="our-locations-backdrop__container">
    <p>You can find us here &#9829;</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11895.51814770952!2d-87.6241486!3d41.8093554!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2420e2eab2a9a46!2sShawn%20Michelle&#39;s%20Homemade%20Ice%20Cream%20Bronzeville!5e0!3m2!1spl!2spl!4v1666037900131!5m2!1spl!2spl"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424509.61253493984!2d-118.1851461564276!3d33.77406601683384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd29cc3e96e259%3A0x5c3337949c70179e!2sTOCUMBO%20ICE%20CREAM!5e0!3m2!1spl!2spl!4v1666038023679!5m2!1spl!2spl"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387291.3275607709!2d-74.24856513341912!3d40.68028125699144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e82b5e7cd83e1f%3A0xbb413ee42c8bf4fd!2sOld%20Fashioned%20Ice%20Cream!5e0!3m2!1spl!2spl!4v1666038063972!5m2!1spl!2spl"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
    <p>We are waiting for you</p>
    <button type="button" class="close-btn" data-our-locations-modal-close>X</button>
  </div>
</div>
