<section class="section__products" id="products">
  <div class="products__container">
    <p class="products__heading-secondary">100% natural</p>
    <h2 class="products__heading-main">products</h2>
    <ul class="products__list">
      <li class="products__item--ice-cream">
        <h3 class="products__heading products__heading--ice-cream">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" type="button">
          <svg class="products__button-icon">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item--coffee">
        <h3 class="products__heading products__heading--coffee">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" type="button">
          <svg class="products__button-icon">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item--milkshake">
        <h3 class="products__heading products__heading--milkshake">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" type="button">
          <svg class="products__button-icon">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
