<section class="section__reviews" id="reviews">
    <div class="reviews">
      <ul class="reviews__list">
        <li class="reviews__item">
          <img class="reviews__avatar" src="./images/customer1.png" srcset="./images/customer1@2x.png" alt="Smiling woman"/>
          <div class="reviews__label">
            <p class="reviews__label-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__location">
          <p class="reviews__location-text">Emily, Los Angeles</p>
          </div>
        </li>
        <li class="reviews__item">
          <img class="reviews__avatar" src="./images/customer2.png" srcset="./images/customer2@2x.png" alt="Smiling woman" />
          <div class="reviews__label">
            <p class="reviews__label-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__location">
            <p class="reviews__location-text">Emily, Los Angeles</p>
          </div>
        </li>
        <li class="reviews__item">
          <img class="reviews__avatar" src="./images/customer3.png" srcset="./images/customer3@2x.png" alt="Smiling woman"/>
          <div class="reviews__label">
            <p class="reviews__label-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__location">
            <p class="reviews__location-text">Emily, Los Angeles</p>
          </div>
        </li>
      </ul>
      <ul class="reviews__button-list">
        <li>
          <button class="reviews__button">
            <svg class="reviews__button-icon">
                <!-- <use href="../images/icons.svg#icon-home"></use> -->
            </svg>
          </button>
        </li>
        <li>
          <button class="reviews__button">
            <svg class="reviews__button-icon">
                <!-- <use href="../images/icons.svg#icon-dot"></use> -->
            </svg>
          </button>
        </li>
        <li>
          <button class="reviews__button">
            <svg class="reviews__button-icon">
                <!-- <use href="../images/icons.svg#icon-dot"></use> -->
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </section>