<section class="reviews container">
    <div class="reviews__image">
        <img class="reviews__image-customer" src="./images/customer1.png" srcset="" alt="Smiling woman">
    </div>
    <div class="reviews__label">
        <p class="reviews__label-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
            Lorem ipsum primis in nibh vel risus.
        </p>
    </div>
    <div class="reviews__customer">
        <p class="reviews__customer-name">
            Emily, Los Angeles
        </p>
    </div>
</section>